@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How We Help You</h2>
        <p>
            We are dedicated to improving patient care. We work side by side with clinicians and staff to enhance the coordination of care and engage patients more fully.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Helpful Hints</h2>
        <ul>
            <li>Your browser back button is disabled for this site. </li>
            <li>Please disable your Pop-up Blocker.</li>
            <li>Some products require Adobe Reader</li>
        </ul>
        <p><a class="btn btn-default" href="http://get.adobe.com/reader/">Get Adobe Reader</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need Assistance?</h2>
        <h4>Account Number: 1234567</h4>
        <p>(Having your account number handy will speed up our ability to assist you)</p>        
        <h4>Email: Help@StandardRegister.com </h4>
        <p>Customer Service: (555) 555-5555
(Press 6 for accelerated help)</p>
        <h4>Hours: Mon - Fri, 8:00am - 5:00pm</h4>

    </div>
</div>